.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transform-style: preserve-3d;
}

.font-theme {
  font-family: 'Roboto';
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}